<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>餐饮</key>
		<dict>
			<key>0</key>
			<dict>
				<key>快餐</key>
				<array>
					<string>长安区</string>
					<string>桥东区</string>
					<string>桥西区</string>
					<string>新华区</string>
					<string>井陉矿区</string>
					<string>裕华区</string>
					<string>井陉县</string>
					<string>正定县</string>
					<string>栾城县</string>
					<string>行唐县</string>
					<string>灵寿县</string>
					<string>高邑县</string>
					<string>深泽县</string>
					<string>赞皇县</string>
					<string>无极县</string>
					<string>平山县</string>
					<string>元氏县</string>
					<string>赵县</string>
					<string>辛集市</string>
					<string>藁城市</string>
					<string>晋州市</string>
					<string>新乐市</string>
					<string>鹿泉市</string>
				</array>
			</dict>
			<key>1</key>
			<dict>
				<key>火锅</key>
				<array>
					<string>路南区</string>
					<string>路北区</string>
					<string>古冶区</string>
					<string>开平区</string>
					<string>丰南区</string>
					<string>丰润区</string>
					<string>滦县</string>
					<string>滦南县</string>
					<string>乐亭县</string>
					<string>迁西县</string>
					<string>玉田县</string>
					<string>唐海县</string>
					<string>遵化市</string>
					<string>迁安市</string>
				</array>
			</dict>
			<key>2</key>
			<dict>
				<key>烧烤</key>
				<array>
					<string>海港区</string>
					<string>山海关区</string>
					<string>北戴河区</string>
					<string>青龙满族自治县</string>
					<string>昌黎县</string>
					<string>抚宁县</string>
					<string>卢龙县</string>
				</array>
			</dict>
			<key>3</key>
			<dict>
				<key>小吃/熟食</key>
				<array>
					<string>邯山区</string>
					<string>丛台区</string>
					<string>复兴区</string>
					<string>峰峰矿区</string>
					<string>邯郸县</string>
					<string>临漳县</string>
					<string>成安县</string>
					<string>大名县</string>
					<string>涉县</string>
					<string>磁县</string>
					<string>肥乡县</string>
					<string>永年县</string>
					<string>邱县</string>
					<string>鸡泽县</string>
					<string>广平县</string>
					<string>馆陶县</string>
					<string>魏县</string>
					<string>曲周县</string>
					<string>武安市</string>
				</array>
			</dict>
			<key>4</key>
			<dict>
				<key>其它中餐</key>
				<array>
					<string>桥东区</string>
					<string>桥西区</string>
					<string>邢台县</string>
					<string>临城县</string>
					<string>内丘县</string>
					<string>柏乡县</string>
					<string>隆尧县</string>
					<string>任县</string>
					<string>南和县</string>
					<string>宁晋县</string>
					<string>巨鹿县</string>
					<string>新河县</string>
					<string>广宗县</string>
					<string>平乡县</string>
					<string>威县</string>
					<string>清河县</string>
					<string>临西县</string>
					<string>南宫市</string>
					<string>沙河市</string>
				</array>
			</dict>
			<key>5</key>
			<dict>
				<key>日韩/东南亚菜</key>
				<array>
					<string>新市区</string>
					<string>北市区</string>
					<string>南市区</string>
					<string>满城县</string>
					<string>清苑县</string>
					<string>涞水县</string>
					<string>阜平县</string>
					<string>徐水县</string>
					<string>定兴县</string>
					<string>唐县</string>
					<string>高阳县</string>
					<string>容城县</string>
					<string>涞源县</string>
					<string>望都县</string>
					<string>安新县</string>
					<string>易县</string>
					<string>曲阳县</string>
					<string>蠡县</string>
					<string>顺平县</string>
					<string>博野县</string>
					<string>雄县</string>
					<string>涿州市</string>
					<string>定州市</string>
					<string>安国市</string>
					<string>高碑店市</string>
				</array>
			</dict>
			<key>6</key>
			<dict>
				<key>西餐</key>
				<array>
					<string>桥东区</string>
					<string>桥西区</string>
					<string>宣化区</string>
					<string>下花园区</string>
					<string>宣化县</string>
					<string>张北县</string>
					<string>康保县</string>
					<string>沽源县</string>
					<string>尚义县</string>
					<string>蔚县</string>
					<string>阳原县</string>
					<string>怀安县</string>
					<string>万全县</string>
					<string>怀来县</string>
					<string>涿鹿县</string>
					<string>赤城县</string>
					<string>崇礼县</string>
				</array>
			</dict>
			<key>7</key>
			<dict>
				<key>咖啡厅</key>
				<array>
					<string>双桥区</string>
					<string>双滦区</string>
					<string>鹰手营子矿区</string>
					<string>承德县</string>
					<string>兴隆县</string>
					<string>平泉县</string>
					<string>滦平县</string>
					<string>隆化县</string>
					<string>丰宁满族自治县</string>
					<string>宽城满族自治县</string>
					<string>围场满族蒙古族自治县</string>
				</array>
			</dict>
			<key>8</key>
			<dict>
				<key>甜品饮品</key>
				<array>
					<string>新华区</string>
					<string>运河区</string>
					<string>沧县</string>
					<string>青县</string>
					<string>东光县</string>
					<string>海兴县</string>
					<string>盐山县</string>
					<string>肃宁县</string>
					<string>南皮县</string>
					<string>吴桥县</string>
					<string>献县</string>
					<string>孟村回族自治县</string>
					<string>泊头市</string>
					<string>任丘市</string>
					<string>黄骅市</string>
					<string>河间市</string>
				</array>
			</dict>
			<key>9</key>
			<dict>
				<key>烘焙糕点</key>
				<array>
					<string>安次区</string>
					<string>广阳区</string>
					<string>固安县</string>
					<string>永清县</string>
					<string>香河县</string>
					<string>大城县</string>
					<string>文安县</string>
					<string>大厂回族自治县</string>
					<string>霸州市</string>
					<string>三河市</string>
				</array>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>线下零售</key>
		<dict>
			<key>13</key>
			<dict>
				<key>批发业</key>
				<string></string>
			</dict>
			<key>12</key>
			<dict>
				<key>礼品鲜花/农资绿植</key>
				<array/>
			</dict>
			<key>11</key>
			<dict>
				<key>宠物/宠物用品</key>
				<array/>
			</dict>
			<key>0</key>
			<dict>
				<key>便利店</key>
				<array>
					<string>小店区</string>
					<string>迎泽区</string>
					<string>杏花岭区</string>
					<string>尖草坪区</string>
					<string>万柏林区</string>
					<string>晋源区</string>
					<string>清徐县</string>
					<string>阳曲县</string>
					<string>娄烦县</string>
					<string>古交市</string>
				</array>
			</dict>
			<key>1</key>
			<dict>
				<key>食品生鲜</key>
				<array>
					<string>城区</string>
					<string>矿区</string>
					<string>南郊区</string>
					<string>新荣区</string>
					<string>阳高县</string>
					<string>天镇县</string>
					<string>广灵县</string>
					<string>灵丘县</string>
					<string>浑源县</string>
					<string>左云县</string>
					<string>大同县</string>
				</array>
			</dict>
			<key>2</key>
			<dict>
				<key>数码电器/电脑办公</key>
				<array>
					<string>城区</string>
					<string>矿区</string>
					<string>郊区</string>
					<string>平定县</string>
					<string>盂县</string>
				</array>
			</dict>
			<key>3</key>
			<dict>
				<key>家具建材/家居厨具</key>
				<array>
					<string>城区</string>
					<string>郊区</string>
					<string>长治县</string>
					<string>襄垣县</string>
					<string>屯留县
平顺县</string>
					<string>平顺县</string>
					<string>黎城县</string>
					<string>壶关县</string>
					<string>长子县</string>
					<string>武乡县</string>
					<string>沁县</string>
					<string>沁源县</string>
					<string>潞城市</string>
				</array>
			</dict>
			<key>4</key>
			<dict>
				<key>服饰箱包</key>
				<array>
					<string>城区</string>
					<string>沁水县</string>
					<string>阳城县</string>
					<string>陵川县</string>
					<string>泽州县</string>
					<string>高平市</string>
				</array>
			</dict>
			<key>5</key>
			<dict>
				<key>运动户外</key>
				<array>
					<string>朔城区</string>
					<string>平鲁区</string>
					<string>山阴县</string>
					<string>应县</string>
					<string>右玉县</string>
					<string>怀仁县</string>
				</array>
			</dict>
			<key>6</key>
			<dict>
				<key>美妆个护</key>
				<array>
					<string>榆次区</string>
					<string>榆社县</string>
					<string>左权县</string>
					<string>和顺县</string>
					<string>昔阳县</string>
					<string>寿阳县</string>
					<string>太谷县</string>
					<string>祁县</string>
					<string>平遥县</string>
					<string>灵石县</string>
					<string>介休市</string>
				</array>
			</dict>
			<key>7</key>
			<dict>
				<key>母婴用品/儿童玩具</key>
				<array>
					<string>盐湖区</string>
					<string>临猗县</string>
					<string>万荣县</string>
					<string>闻喜县</string>
					<string>稷山县</string>
					<string>新绛县</string>
					<string>绛县</string>
					<string>垣曲县</string>
					<string>夏县</string>
					<string>平陆县</string>
					<string>芮城县</string>
					<string>永济市</string>
					<string>河津市</string>
				</array>
			</dict>
			<key>8</key>
			<dict>
				<key>计生用品</key>
				<array>
					<string>忻府区</string>
					<string>定襄县</string>
					<string>五台县</string>
					<string>代县</string>
					<string>繁峙县</string>
					<string>宁武县</string>
					<string>静乐县</string>
					<string>神池县</string>
					<string>五寨县</string>
					<string>岢岚县</string>
					<string>河曲县</string>
					<string>保德县</string>
					<string>偏关县</string>
					<string>原平市</string>
				</array>
			</dict>
			<key>9</key>
			<dict>
				<key>图书音像/文具乐器</key>
				<array>
					<string>尧都区</string>
					<string>曲沃县</string>
					<string>翼城县</string>
					<string>襄汾县</string>
					<string>洪洞县</string>
					<string>古县</string>
					<string>安泽县</string>
					<string>浮山县</string>
					<string>吉县</string>
					<string>乡宁县</string>
					<string>大宁县</string>
					<string>隰县</string>
					<string>永和县</string>
					<string>蒲县</string>
					<string>汾西县</string>
					<string>侯马市</string>
					<string>霍州市</string>
				</array>
			</dict>
			<key>10</key>
			<dict>
				<key>钟表眼镜</key>
				<array>
					<string>离石区</string>
					<string>文水县</string>
					<string>交城县</string>
					<string>兴县</string>
					<string>临县</string>
					<string>柳林县</string>
					<string>石楼县</string>
					<string>岚县</string>
					<string>方山县</string>
					<string>中阳县</string>
					<string>交口县</string>
					<string>孝义市</string>
					<string>汾阳市</string>
				</array>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>居民生活/商业服务</key>
		<dict>
			<key>0</key>
			<dict>
				<key>咨询/法律咨询/金融咨询等</key>
				<array>
					<string>新城区</string>
					<string>回民区</string>
					<string>玉泉区</string>
					<string>赛罕区</string>
					<string>土默特左旗</string>
					<string>托克托县</string>
					<string>和林格尔县</string>
					<string>清水河县</string>
					<string>武川县</string>
				</array>
			</dict>
			<key>1</key>
			<dict>
				<key>婚庆/摄影</key>
				<array>
					<string>东河区</string>
					<string>昆都仑区</string>
					<string>青山区</string>
					<string>石拐区</string>
					<string>白云鄂博矿区</string>
					<string>九原区</string>
					<string>土默特右旗</string>
					<string>固阳县</string>
					<string>达尔罕茂明安联合旗</string>
				</array>
			</dict>
			<key>2</key>
			<dict>
				<key>装饰/设计</key>
				<array>
					<string>海勃湾区</string>
					<string>海南区</string>
					<string>乌达区</string>
				</array>
			</dict>
			<key>3</key>
			<dict>
				<key>家政/维修服务</key>
				<array>
					<string>红山区</string>
					<string>元宝山区</string>
					<string>松山区</string>
					<string>阿鲁科尔沁旗</string>
					<string>巴林左旗</string>
					<string>巴林右旗</string>
					<string>林西县</string>
					<string>克什克腾旗</string>
					<string>翁牛特旗</string>
					<string>喀喇沁旗</string>
					<string>宁城县</string>
					<string>敖汉旗</string>
				</array>
			</dict>
			<key>4</key>
			<dict>
				<key>广告/会展/活动策划</key>
				<array>
					<string>科尔沁区</string>
					<string>科尔沁左翼中旗</string>
					<string>科尔沁左翼后旗</string>
					<string>开鲁县</string>
					<string>库伦旗</string>
					<string>奈曼旗</string>
					<string>扎鲁特旗</string>
					<string>霍林郭勒市</string>
				</array>
			</dict>
			<key>5</key>
			<dict>
				<key>职业社交/婚介/交友</key>
				<array>
					<string>东胜区</string>
					<string>达拉特旗</string>
					<string>准格尔旗</string>
					<string>鄂托克前旗</string>
					<string>鄂托克旗</string>
					<string>杭锦旗</string>
					<string>乌审旗</string>
					<string>伊金霍洛旗</string>
				</array>
			</dict>
			<key>6</key>
			<dict>
				<key>苗木种植/园林绿化</key>
				<array>
					<string>海拉尔区</string>
					<string>阿荣旗</string>
					<string>莫力达瓦达斡尔族自治旗</string>
					<string>鄂伦春自治旗</string>
					<string>鄂温克族自治旗</string>
					<string>陈巴尔虎旗</string>
					<string>新巴尔虎左旗</string>
					<string>新巴尔虎右旗</string>
					<string>满洲里市</string>
					<string>牙克石市</string>
					<string>扎兰屯市</string>
					<string>额尔古纳市</string>
					<string>根河市</string>
				</array>
			</dict>
			<key>7</key>
			<dict>
				<key>丧仪殡葬服务</key>
				<array>
					<string>临河区</string>
					<string>五原县</string>
					<string>磴口县</string>
					<string>乌拉特前旗</string>
					<string>乌拉特中旗</string>
					<string>乌拉特后旗</string>
					<string>杭锦后旗</string>
				</array>
			</dict>
			<key>8</key>
			<dict>
				<key>搬家/回收</key>
				<array>
					<string>集宁区</string>
					<string>卓资县</string>
					<string>化德县</string>
					<string>商都县</string>
					<string>兴和县</string>
					<string>凉城县</string>
					<string>察哈尔右翼前旗</string>
					<string>察哈尔右翼中旗</string>
					<string>察哈尔右翼后旗</string>
					<string>四子王旗</string>
					<string>丰镇市</string>
				</array>
			</dict>
			<key>9</key>
			<dict>
				<key>宠物医院</key>
				<array>
					<string>乌兰浩特市</string>
					<string>阿尔山市</string>
					<string>科尔沁右翼前旗</string>
					<string>科尔沁右翼中旗</string>
					<string>扎赉特旗</string>
					<string>突泉县</string>
				</array>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>休闲娱乐</key>
		<dict>
			<key>0</key>
			<dict>
				<key>娱乐票务</key>
				<array>
					<string>和平区</string>
					<string>沈河区</string>
					<string>大东区</string>
					<string>皇姑区</string>
					<string>铁西区</string>
					<string>苏家屯区</string>
					<string>东陵区</string>
					<string>沈北新区</string>
					<string>于洪区</string>
					<string>辽中县</string>
					<string>康平县</string>
					<string>法库县</string>
					<string>新民市</string>
				</array>
			</dict>
			<key>1</key>
			<dict>
				<key>运动健身场馆</key>
				<array>
					<string>中山区</string>
					<string>西岗区</string>
					<string>沙河口区</string>
					<string>甘井子区</string>
					<string>旅顺口区</string>
					<string>金州区</string>
					<string>长海县</string>
					<string>瓦房店市</string>
					<string>普兰店市</string>
					<string>庄河市</string>
				</array>
			</dict>
			<key>2</key>
			<dict>
				<key>俱乐部/休闲会所</key>
				<array>
					<string>铁东区</string>
					<string>铁西区</string>
					<string>立山区</string>
					<string>千山区</string>
					<string>台安县</string>
					<string>岫岩满族自治县</string>
					<string>海城市</string>
				</array>
			</dict>
			<key>3</key>
			<dict>
				<key>游艺厅/KTV/网吧</key>
				<array>
					<string>新抚区</string>
					<string>东洲区</string>
					<string>望花区</string>
					<string>顺城区</string>
					<string>抚顺县</string>
					<string>新宾满族自治县</string>
					<string>清原满族自治县</string>
				</array>
			</dict>
			<key>4</key>
			<dict>
				<key>院线影城</key>
				<array>
					<string>平山区</string>
					<string>溪湖区</string>
					<string>明山区</string>
					<string>南芬区</string>
					<string>本溪满族自治县</string>
					<string>桓仁满族自治县</string>
				</array>
			</dict>
			<key>5</key>
			<dict>
				<key>演出赛事</key>
				<array>
					<string>元宝区</string>
					<string>振兴区</string>
					<string>振安区</string>
					<string>宽甸满族自治县</string>
					<string>东港市</string>
					<string>凤城市</string>
				</array>
			</dict>
			<key>6</key>
			<dict>
				<key>美发/美容/美甲店</key>
				<array>
					<string>古塔区</string>
					<string>凌河区</string>
					<string>太和区</string>
					<string>黑山县</string>
					<string>义县</string>
					<string>凌海市</string>
					<string>北镇市</string>
				</array>
			</dict>
			<key>7</key>
			<dict>
				<key>酒吧</key>
				<array>
					<string>站前区</string>
					<string>西市区</string>
					<string>鲅鱼圈区</string>
					<string>老边区</string>
					<string>盖州市</string>
					<string>大石桥市</string>
				</array>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>交通运输服务</key>
		<dict>
			<key>0</key>
			<dict>
				<key>汽车用品</key>
				<array>
					<string>南关区</string>
					<string>宽城区</string>
					<string>朝阳区</string>
					<string>二道区</string>
					<string>绿园区</string>
					<string>双阳区</string>
					<string>农安县</string>
					<string>九台市</string>
					<string>榆树市</string>
					<string>德惠市</string>
				</array>
			</dict>
			<key>1</key>
			<dict>
				<key>汽车美容/维修保养</key>
				<array>
					<string>昌邑区</string>
					<string>龙潭区</string>
					<string>船营区</string>
					<string>丰满区</string>
					<string>永吉县</string>
					<string>蛟河市</string>
					<string>桦甸市</string>
					<string>舒兰市</string>
					<string>磐石市</string>
				</array>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>网络媒体/计算机服务/游戏</key>
		<dict>
			<key>0</key>
			<dict>
				<key>游戏</key>
				<array>
					<string>道里区</string>
					<string>南岗区</string>
					<string>道外区</string>
					<string>平房区</string>
					<string>松北区</string>
					<string>香坊区</string>
					<string>呼兰区</string>
					<string>阿城区</string>
					<string>依兰县</string>
					<string>方正县</string>
					<string>宾县</string>
					<string>巴彦县</string>
					<string>木兰县</string>
					<string>通河县</string>
					<string>延寿县</string>
					<string>双城市</string>
					<string>尚志市</string>
					<string>五常市</string>
				</array>
			</dict>
			<key>1</key>
			<dict>
				<key>软件/建站/技术开发</key>
				<array>
					<string>龙沙区</string>
					<string>建华区</string>
					<string>铁锋区</string>
					<string>昂昂溪区</string>
					<string>富拉尔基区</string>
					<string>碾子山区</string>
					<string>梅里斯达斡尔族区</string>
					<string>龙江县</string>
					<string>依安县</string>
					<string>泰来县</string>
					<string>甘南县</string>
					<string>富裕县</string>
					<string>克山县</string>
					<string>克东县</string>
					<string>拜泉县</string>
					<string>讷河市</string>
				</array>
			</dict>
			<key>2</key>
			<dict>
				<key>网络推广/网络广告</key>
				<array>
					<string>鸡冠区</string>
					<string>恒山区</string>
					<string>滴道区</string>
					<string>梨树区</string>
					<string>城子河区</string>
					<string>麻山区</string>
					<string>鸡东县</string>
					<string>虎林市</string>
					<string>密山市</string>
				</array>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>教育/医疗</key>
		<dict>
			<key>0</key>
			<dict>
				<key>教育/培训/考试缴费/学费</key>
				<array>
					<string>玄武区</string>
					<string>白下区</string>
					<string>秦淮区</string>
					<string>建邺区</string>
					<string>鼓楼区</string>
					<string>下关区</string>
					<string>浦口区</string>
					<string>栖霞区</string>
					<string>雨花台区</string>
					<string>江宁区</string>
					<string>六合区</string>
					<string>溧水县</string>
					<string>高淳县</string>
				</array>
			</dict>
			<key>1</key>
			<dict>
				<key>保健器械/医疗器械/非处方药品</key>
				<array>
					<string>崇安区</string>
					<string>南长区</string>
					<string>北塘区</string>
					<string>锡山区</string>
					<string>惠山区</string>
					<string>滨湖区</string>
					<string>江阴市</string>
					<string>宜兴市</string>
				</array>
			</dict>
			<key>2</key>
			<dict>
				<key>私立/民营医院/诊所</key>
				<array>
					<string>鼓楼区</string>
					<string>云龙区</string>
					<string>九里区</string>
					<string>贾汪区</string>
					<string>泉山区</string>
					<string>丰县</string>
					<string>沛县</string>
					<string>铜山县</string>
					<string>睢宁县</string>
					<string>新沂市</string>
					<string>邳州市</string>
				</array>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>生活缴费</key>
		<dict>
			<key>0</key>
			<dict>
				<key>话费通讯</key>
				<array>
					<string>上城区</string>
					<string>下城区</string>
					<string>江干区</string>
					<string>拱墅区</string>
					<string>西湖区</string>
					<string>滨江区</string>
					<string>萧山区</string>
					<string>余杭区</string>
					<string>桐庐县</string>
					<string>淳安县</string>
					<string>建德市</string>
					<string>富阳市</string>
					<string>临安市</string>
				</array>
			</dict>
			<key>1</key>
			<dict>
				<key>生活缴费</key>
				<array>
					<string>海曙区</string>
					<string>江东区</string>
					<string>江北区</string>
					<string>北仑区</string>
					<string>镇海区</string>
					<string>鄞州区</string>
					<string>象山县</string>
					<string>宁海县</string>
					<string>余姚市</string>
					<string>慈溪市</string>
					<string>奉化市</string>
				</array>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>金融</key>
		<dict>
			<key>0</key>
			<dict>
				<key>财经资讯</key>
				<array>
					<string>瑶海区</string>
					<string>庐阳区</string>
					<string>蜀山区</string>
					<string>包河区</string>
					<string>长丰县</string>
					<string>肥东县</string>
					<string>肥西县</string>
				</array>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>交通出行/票务旅游</key>
		<dict>
			<key>0</key>
			<dict>
				<key>旅馆/酒店/度假区</key>
				<array>
					<string>鼓楼区</string>
					<string>台江区</string>
					<string>仓山区</string>
					<string>马尾区</string>
					<string>晋安区</string>
					<string>闽侯县</string>
					<string>连江县</string>
					<string>罗源县</string>
					<string>闽清县</string>
					<string>永泰县</string>
					<string>平潭县</string>
					<string>福清市</string>
					<string>长乐市</string>
				</array>
			</dict>
			<key>1</key>
			<dict>
				<key>铁路客运</key>
				<array>
					<string>思明区</string>
					<string>海沧区</string>
					<string>湖里区</string>
					<string>集美区</string>
					<string>同安区</string>
					<string>翔安区</string>
				</array>
			</dict>
			<key>2</key>
			<dict>
				<key>加油</key>
				<array>
					<string>城厢区</string>
					<string>涵江区</string>
					<string>荔城区</string>
					<string>秀屿区</string>
					<string>仙游县</string>
				</array>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>其他</key>
		<dict>
			<key>0</key>
			<dict>
				<key>其他行业</key>
				<array/>
			</dict>
		</dict>
	</dict>
</array>
</plist>
